WEB_PORT=8080
DOCKERFILE=.docker/php/Dockerfile.local
BUILD_VARIANT=base

POSTGRES_PASSWORD=change_me_root_password
POSTGRES_PIM_USER=atrocore
POSTGRES_PIM_PASSWORD=change_me_app_password
POSTGRES_PIM_DB=atrocore
POSTGRES_PIM_DB_TEST=

PRODUCTION_DOMAIN=example.com
LETS_ENCRYPT_EMAIL=admin@example.com
PROXY_PRODUCTION_ROUTER=company_atrocore_prod
